#main {
    margin:50px auto;
    font-family:raleway;
}

.border{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#color_white{
    background-color: #ffffff;
}

#image_column{
    background-color: #4a3d60;
    filter: alpha(opacity= 100);
    align-content: center;
}

#logo{
    margin: 0 auto;
    display: table;
    margin-top: 30%
}

span {
    color:red;
}

h2{
    /*background-color: #FEFFED;*/
    background: #4C3078;
    text-align:center;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px;
    padding: 30px;
}

#login{
    margin-left: 310px;
    width:300px;
    float: left;
    border-radius: 10px;
    font-family:raleway;
    border: 2px solid #ccc;
    padding: 10px 40px 25px;
    margin-top: 70px;
    background: #4C3078;
    color: white;
}

input[type=text],input[type=password], input[type=email]{
    width:99.5%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family:raleway;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

#btn_style{
    width: 150px;
    margin: 30px auto;
    align-content: center;
    display: block;
    background-color: #816EA0;
    font-size:20px;

}

a{
    text-decoration:none;
    color: cornflowerblue;
}

i{
    color: cornflowerblue;
}